.DS_Store
mkmf.log
config/database.yml
coverage
coverage.data
db/*.sqlite3
doc/api
doc/controllers.png
doc/models.png
log/*.log
metrics
public/system
roodi.yml
storage
tmp/**/*
tmp/*.html
.*.swp
.idea
